<nav>
    <div class="navbar padding-m">
        <div class="logo">
            <a>THE PLANETS</a>
        </div>
        <ul class="navbar-nav">
            <li *ngFor="let planet of planets" routerLinkActive="active-page" [ngStyle]="{'--planet-color': planet.theme}">
                <a [routerLink]="['/planet', planet.name]">{{planet.name}}</a>
            </li>
        </ul>
        <i class="bi bi-list" (click)="showMobileNav = !showMobileNav"></i>

        <div class="mobile-nav"[ngClass]="{'mobile-nav-active': showMobileNav}">
            <div class="container">
                <div class="wrapper">
                    <ul class="mobile-navbar-nav">
                        <li *ngFor="let planet of planets" [ngStyle]="{'--planet-color': planet.theme}">
                            <span></span>
                            <a [routerLink]="['/planet', planet.name]">{{planet.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>